<p id="notice"><%= notice %></p>
<p>
  <strong>Hi, <%= current_user.first_name %></strong>
  
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<!-- Start of comment form -->
<%= render 'comments/comment_form' %>
<!-- end of comment form -->

<!-- Start of Comments -->
<div id="comments" data-blog-id="<%= @blog.id %>">
  <%= render @blog.comments %>
</div>
<!-- End of Comments -->

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
