<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<!-- Start of comment form -->
<%= render 'comments/comment_form' %>
<!-- end of comment form -->

<!-- Start of Comments -->
<%= render @blog.comments %>
<!-- End of Comments -->

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
